<html>
  <head>
    <title>SMART TRASHCAN</title>
  </head>
  <body>
    <h1>驚くほどスマートなゴミ箱</h1>
    <img src="{{ url_for('video_feed') }}">
    <div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
        </form>
    </div>
  </body>

</html>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {
            });
            return false;
          });
        });
</script>
